body{
	background-color: #ccc;
}

#principal{
	width: 1200px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

header{
	width: 1200px;
	height: 100px;
	border: 0px solid #000;
	display: flex;
	justify-content: space-between;
	
}

#logo{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;
}
#miDia{
	 font-family: sans-serif;

	
}

.titulo{
	margin-top: 25px;
	font-size: 30px;
}

.sub-titulo{
	font-size: 14px;
	margin-top: -20px;
}

.menu{
	display: flex;
	width: 600px;
	height: 70px;
	border: 1px solid #ccc;
	background: #cc00ff;

	
}

.menu ul{
	display: flex;
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #006699;
	transition: background 1s, color 1s;
}

#slide{
	margin-top: -5px;
	width: 1200px;
	height: 250px;
	text-align: center;
}

#categorias{
	width: 1200px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: justify;
}
.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}


#info{
	width: 1200px;
	height: auto; overflow: hidden;
	border: 0px solid #c0c0c0;
	margin-top: 10px; color: 
}

#bienv{
	width: 100%;
	height: auto; overflow: hidden;
	border: none
	float: left;
	padding: 2px; color: #4682b4;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}


#der{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	color: 
}

footer{
	width: 100%;
	height: 50px;
	text-align: left;
	color: #fff;
	background-color: rgb(61, 61, 61);
}

#footer p{
	width: 500px;
}

/*------------contacto------------------------*/
#formulario{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: left
}

#mapa{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

.enviar{
	padding: 10px 20px;
	background: #cc00ff;
	color: #fdfdfd;
	font-size: 16px;
}

#form{}

#datos{
	margin-top: 30px;
}

.card-container{
	display:flex;
	flex-wrap: wrap;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	flex: 1 25%;
	margin-left: 30px;
	margin-bottom: 30px;

	
  }
  
.card img{
	width:300px; 
	height: 300px;
}

.card .product-title{
	min-height: 170px;
}
.card .description{
	min-height: 200px;
	
}
  .price {
	color: grey;
	font-size: 22px;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #cc00fc;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }

  #gabriel{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;